body{
font-family: Arial;
margin:40px;
background:#f4f4f4;
}

h1{
color:#333;
}

input,button{
padding:8px;
margin:5px;
}

table{
border-collapse:collapse;
width:80%;
margin-top:20px;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

button{
cursor:pointer;
}

.delete{
background:red;
color:white;
}

.update{
background:orange;
color:white;
}